# Copyright (c) 2022 Nanjing Qinheng Microelectronics Co., Ltd.
# SPDX-License-Identifier: Apache-2.0

menu "Sub Systems"

source "subsys/bluetooth/Kconfig"

source "subsys/logging/Kconfig"

source "subsys/pm/Kconfig"

source "subsys/usb/Kconfig"

source "subsys/buf/Kconfig"

endmenu