# Copyright (c) 2022 Nanjing Qinheng Microelectronics Co., Ltd.
# SPDX-License-Identifier: Apache-2.0

choice
    prompt "SoC"

    config SOC_CH573X
        bool "CH573X"
        depends on SOC_SERIES_CH57X

    config SOC_CH573F
        bool "CH573F"
        depends on SOC_SERIES_CH57X

    config SOC_CH571F
        bool "CH571F"
        depends on SOC_SERIES_CH57X

    config SOC_CH571D
        bool "CH571D"
        depends on SOC_SERIES_CH57X

    config SOC_CH571K
        bool "CH571K"
        depends on SOC_SERIES_CH57X

endchoice

config SOC_DCDC_CH57X
    bool "SoC DC/DC CH57X"
    depends on SOC_CH573X || SOC_CH573F || SOC_CH571F
    help
      Enable CH57X series System on Chip DC/DC converter.

choice
    prompt "SoC RTC source select"

    config SOC_LSE_32768
        bool "LSE 32768Hz"
    config SOC_LSI_32000
        bool "LSI 32000Hz"
    config SOC_LSI_32768
        bool "LSI 32768Hz"

endchoice

config SOC_RTC_FREQ
    int
    default 32768 if SOC_LSE_32768 || SOC_LSI_32768
    default 32000 if SOC_LSI_32000
    help
      SoC RTC frequency (in Hz).

config SOC_RTC_MAX_TICK
    hex 
    default 0xA8C00000


config SOC_SYSTEM_OPERATE_FREQ
    int "System Operating Frequency"
    default 60000000
    help
      System operating frequency. 

config SYS_CLOCK_HW_CYCLES_PER_SEC
    default 32768

config SYS_CLOCK_TICKS_PER_SEC
    default 32768

config ADC_CHANNEL_MAP
    default 0xF33F if SOC_CH573X
    default 0xF03F if SOC_CH573F
    default 0xC03F if SOC_CH571F || SOC_CH571D
    default 0xC03C if SOC_CH571K

config BT_SNV_ADDR
    default 0x3EC00