# Copyright (c) 2022 Nanjing Qinheng Microelectronics Co., Ltd.
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_CH57X
    bool
    select RISCV
    select RISCV_ISA_EXT_M
    select RISCV_ISA_EXT_A
