# Copyright (c) 2022 Nanjing Qinheng Microelectronics Co., Ltd.
# SPDX-License-Identifier: Apache-2.0

menuconfig UART
    bool "UART Drivers"
    help
      Enable options for uart drivers.

if UART

comment "Capabilities"

config UART_HAS_DRIVER
	bool
	help
	  This is an option to be enabled by individual uart driver
	  to signal that there is a uart driver. This is being used
	  by other drivers which are dependent on uart.

config UART_SUPPORT_ASYNC
	bool
	help
	  This is an option to be enabled by individual uart driver
	  to signal that the driver and hardware supports async operation.

config UART_SUPPORT_INTERRUPT
	bool
	help
	  This is an option to be enabled by individual uart driver
	  to signal that the driver and hardware supports interrupts.

config UART_INIT_PRIORITY
	int "Serial init priority"
	default 1
	help
	  Serial driver device initialization priority.

config UART_SUPPORT_WIDE_DATA
	bool
	help
	  This is an option to be enabled by individual uart driver
	  to signal that the driver and hardware support data longer
	  than 8-bit.

config UART_USE_RUNTIME_CONFIGURE
	bool "Runtime configuration for UART controllers"
	default y
	help
	  Enable runtime configuration of UART controllers.
	  This allows applications to call uart_configure() to
	  configure the UART controllers at runtime, and calling
	  uart_config_get() to retrieve configuration. If this is
	  disabled, UART controllers rely on UART driver's
	  initialization function to properly configure
	  the controller.

	  Say y if unsure. Disable this to reduce footprint for
	  applications that do not require runtime UART configuration.

config UART_ASYNC_API
	bool "Asynchronous UART API"
	depends on UART_SUPPORT_ASYNC
	help
	  This option enables asynchronous UART API.

config UART_INTERRUPT_DRIVEN
	bool "UART Interrupt support"
	depends on UART_SUPPORT_INTERRUPT
	help
	  This option enables interrupt support for UART allowing console
	  input and other UART based drivers.

config UART_LINE_CTRL
	bool "Serial Line Control API"
	help
	  This enables the API for apps to control the uart line,
	  such as baud rate, CTS and RTS.

	  Implementation is up to individual driver.

	  Says no if not sure.

config UART_DRV_CMD
	bool "Driver commands API"
	help
	  This enables the API to send extra commands to drivers.
	  This allows drivers to expose hardware specific functions.

	  Says no if not sure.

config UART_WIDE_DATA
	bool "API to support data longer than 8-bit"
	help
	  This enables the API to process data longer than 8-bit.
	  This is up to the driver to implement the necessary functions
	  to properly support this.

comment "Serial Drivers"

source "drivers/uart/Kconfig.ch57x"

source "drivers/uart/Kconfig.ch58x"

endif # UART