# Copyright (c) 2022 Nanjing Qinheng Microelectronics Co., Ltd.
# SPDX-License-Identifier: Apache-2.0

menu "Device Drivers"

source "drivers/uart/Kconfig"

source "drivers/timer/Kconfig"

source "drivers/pinctrl/Kconfig"

source "drivers/gpio/Kconfig"

source "drivers/debug/Kconfig"

source "drivers/adc/Kconfig"

endmenu