# Copyright (c) 2022 Nanjing Qinheng Microelectronics Co., Ltd.
# SPDX-License-Identifier: Apache-2.0

menu "General Architecture Options"

config RISCV
	bool
	help
	  RISCV architecture

config ARM
    bool
    help
      ARM architecture

config ARCH
    string
    help
      Architecture string

source "arch/$(ARCH)/Kconfig"

module = ARCH
module-str = arch
source "subsys/logging/Kconfig.template.log_config"

endmenu