# Copyright (c) 2022 Nanjing Qinheng Microelectronics Co., Ltd.
# SPDX-License-Identifier: Apache-2.0

menu "Buffer"

config BUF_LOG
    bool "Buffer logging"
    select LOG
    help
      Enable logs and checks for buffers.

module = BUF
module-str = BUF
source "subsys/logging/Kconfig.template.log_config"

endmenu
