# Copyright (c) 2022 Nanjing Qinheng Microelectronics Co., Ltd.
# SPDX-License-Identifier: Apache-2.0

menu "SoC Configration"

choice
    prompt "SoC Series"

    config SOC_SERIES_CH57X
        bool "WCH CH57X series MCU"
        select RISCV
        select TICKLESS_CAPABLE
        help
          Enable support for CH57X series MCU

    config SOC_SERIES_CH58X
        bool "WCH CH58X series MCU"
        select RISCV
        select TICKLESS_CAPABLE
        help
          Enable support for CH58X series MCU

endchoice

if SOC_SERIES_CH57X
    source "soc/ch57x/Kconfig.soc"
endif

if SOC_SERIES_CH58X
    source "soc/ch58x/Kconfig.soc"
endif

endmenu