# Copyright (c) 2022 Nanjing Qinheng Microelectronics Co., Ltd.
# SPDX-License-Identifier: Apache-2.0

source "soc/$(ARCH)/$(SOC_SERIES)/Kconfig.series"

menu "Hardware Configuration"
    source "soc/$(ARCH)/$(SOC_SERIES)/Kconfig.soc"

    module = SOC
    module-str = SOC
    source "subsys/logging/Kconfig.template.log_config"
endmenu