# Copyright (c) 2022 Nanjing Qinheng Microelectronics Co., Ltd.
# SPDX-License-Identifier: Apache-2.0

menu "SoC Configration"


config SOC_SERIES
    string
    help
      SoC series name which can be found under soc/<arch>/<series>.
	  This option holds the directory name used by the build system to locate
	  the correct linker and header files.


source "soc/$(ARCH)/*/Kconfig.$(SOC)"

module = SOC
module-str = SOC
source "subsys/logging/Kconfig.template.log_config"

endmenu